@font-face {
  font-family: josefin-regular;
  src: url("/static/fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: josefin-light;
  src: url("/static/fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: josefin-bold;
  src: url("/static/fonts/JosefinSans-Bold.ttf");
}

/* Body Classes */
.name_header {
  margin-right: auto;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 80px;
  margin-top: 20px;
}

.test-main {
  text-align: center;
  margin-bottom: 100px;
}

.test {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  /* margin-bottom: 50px; */
}

#page-title {
  color: #584770;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  line-height: 40px;
  width: 567px;
  text-align: center;
  font-family: josefin-regular;
}

/* Sticky Footer Classes */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
  color: #686868;
}

body {
  background: #ffffff;
}

p {
  font-family: josefin-light;
  font-size: 16px;
  line-height: 28px;
}

#perspective-des {
  margin-top: 10px;
  line-height: 22px;
}

/* Description */
#description {
  font-family: josefin-regular;
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Textarea Input Space */
#weight {
  font-family: josefin-regular;
}

#weight2 {
  font-family: josefin-bold;
}

.submit-button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 14px;
  padding-bottom: 9px;
  /* margin-top: 11px; */
  text-align: center;
  width: 98px;
  background-color: #714F72;
  border: none;
  vertical-align: middle;
  border-radius: 10px;
}

textarea {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  font-family: josefin-regular;

  resize: vertical;
  max-height: 161px;
  min-height: 161px;
  font-size: 20px;

  font-size: inherit;

  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

textarea::-webkit-input-placeholder {
  color: #909090;
  font-family: josefin-regular;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #909090;
  font-family: josefin-regular;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #909090;
  font-family: josefin-regular;
}

textarea:-ms-input-placeholder {
  color: #909090;
  font-family: josefin-regular;
}

.btn-enter {
  background-color: #714F72;
  color: white;
  font-family: josefin-regular;
  letter-spacing: 3px;
  font-size: 10px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 14px;
  padding-bottom: 9px;
  margin-top: 10px;
  border-radius: 10px;
}

.submit-button:hover,
.submit-button:active,
.submit-button:focus,
.submit-button.active {
  background: #584770;
  color: #ffffff;
}

h1 {
  font-family: josefin-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  text-align: center;
}

h2{
  font-family: josefin-regular;
  font-size: 22px;
  line-height: 22px;
  margin-left: 15px;
}
#sentiment-title{
  font-family: josefin-regular;
  font-size: 22px;
  line-height: 22px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.rectangle{
  background-color: #DCD5E5;
  border-radius: 7px;
  font-family:  josefin-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 10px;
  border-style: none;
}
.rectangle:focus{
  outline: 0;
}

/* Scrollbar */
html {
  overflow-y: scroll;
}

/* Collapsible CSS */
.collapsible{
  font-family: josefin-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  color: #584770;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.plus{
  height: 40px;
  line-height: 40px;
  width: 20px;
  /* transition: all .4s ease-in-out; */
  display: inline-block;
}

.rotate{
  transform: rotate(45deg);
}

.add {
  display: block;
  font-weight: bold;
  height: 20px;
  /* transition: all .4s ease-in-out; */
}

 .collapsible-text{
  font-family: josefin-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  color: #584770;
  border-bottom: 1px solid black;
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin-top: 30px;

}

.active,
.collapsible:hover {
  content: "\f067";
  color: #B56576;
  border-bottom: 1px solid black;
  transition: 0.4s ease-in-out;
}

.collapsible:focus{
  outline:0;
}

/* Charts */
canvas {
  margin: 0 auto;
  width: 50%
}

label {
  display: inline-block;
  margin-right: 15;
  margin-top: 15;
  width: 15%;
}

.inner {
  display: inline-block;
  vertical-align: top;
}
