@font-face {
  font-family: josefin-regular;
  src: url("/static/fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: josefin-light;
  src: url("/static/fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: josefin-bold;
  src: url("/static/fonts/JosefinSans-Bold.ttf");
}

/* Body Classes */
.name_header {
  margin-right: auto;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 40px;
  margin-top: 20px;
}

.test-main {
  text-align: center;
}

.test {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

#page-title {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
  line-height: 40px;
  width: 567px;
  text-align: center;
  font-family: josefin-regular;
}

/* Sticky Footer Classes */
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
  color: #686868;
}

body {
  background: #ffffff;
}

p {
  font-family: josefin-light;
  font-size: 16px;
  line-height: 28px;
}

/* Description */
#description {
  font-family: josefin-regular;
  font-size: 16px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Textarea Input Space */
textarea {
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  font-family: josefin-regular;

  resize: vertical;
  max-height: 161px;
  min-height: 161px;
  font-size: 20px;

  font-family: inherit;
  font-size: inherit;

  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

textarea::-webkit-input-placeholder {
  color: #909090;
  font-family: josefin-regular;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #909090;
  font-family: josefin-regular;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #909090;
  font-family: josefin-regular;
}

textarea:-ms-input-placeholder {
  color: #909090;
  font-family: josefin-regular;
}

/* Header */
h1 {
  font-family: josefin-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  text-align: center;
}

/* Scrollbar */
html {
  overflow-y: scroll;
}

/* Collapsible CSS */
.collapsible {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}

.active,
.collapsible:hover {
  content: "\f067";
  color: black;
  border-bottom: 1px solid black;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
}

/* Charts */
canvas {
  margin: 0 auto;
}

label {
  display: inline-block;
  margin-right: 15;
  margin-top: 15;
  width: 15%;
}

.inner {
  display: inline-block;
  vertical-align: top;
}
