<html>
<head>
    <meta charset="utf-8">
    <title>Emotion Analysis</title>
    <link rel="shortcut icon" type="image/jpg" href="static/images/mirror_logo2.svg"/>
    <meta name="author" content="Charu, Cristie, Eva, Kristy">
    <meta name="description" content="A emotion analysis app for inputted sentences.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import scripts and stylesheets: keep in <static> -->
    <script src="https://kit.fontawesome.com/84c679d41a.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="../static/main.css">


    <!-- Import outside scripts and stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="d-flex flex-column">
    <div class="header">
        <a href="/analysis"><img class="logo" src="/static/images/mirror_logo1_final.svg" alt="logo"></a>
    </div>
    <div class="test-main" id="page-content">
        <h1 id="page-title">Does the intention of your message align with its impact?</h1>
        <div class="test">
            <p id="description">Type your message into the text box below to see how others might interpret your message based on its toxicity, emotional tone, and other attributes.</p>
            <form method="post" action="/analysis" my-form>
                <div >
                    <textarea value="{{ text }}" placeholder="Type here to see the impact of your message." name="text" id="weight" required> {{ text }}</textarea>
                </div>
                <br>
                <div id="button-holder">
                    <button id="weight" class="submit-button" type="submit">ENTER</button>
                </div>
                <!-- <button type="submit" class="btn btn-enter float-right">ENTER</button> -->
            </form>
        </div>
        
        {% if initScreen %}
        <p>Your sentence analysis will appear after you input some text</p>
        {% endif %}
        <br>


        {% if not initScreen %}
        
        <button type="button" class="collapsible" id ='c'>
            <div class="plus"><span class="add" id = "col" >
            <i class="fas fa-plus"></i></span></div> Perspective
        </button>
        <div class="content">
            <label class="inner" style = "display: inline-block;">                  
                <canvas id="toxicity" style="width: 70%; display: inline-block; position: relative;"></canvas>
                <p> A rude, disrespectful, or unreasonable comment that is likely to make people leave a discussion. 
                The likelihood that someone will perceive your message as toxic is {{(perspectiveValues['toxicity'] * 100)|int}}%. </p>
            </label>
            <label class="inner" style = "display: inline-block;">                  
                <canvas id="insult" style="width: 70%; display: inline-block; position: relative;"></canvas>
                <p> An inflammatory or negative comment towards a person or a group of people that can offend. 
                    The likelihood that someone will perceive your message as insulting is {{(perspectiveValues['insult'] * 100)|int}}%.</p>
            </label>                
            <label class="inner" style = "display: inline-block;">                  
                <canvas id="threat" style="width: 70%; display: inline-block; position: relative;"></canvas>
                <p> An intention to inflict pain, injury, or violence against an individual or group. 
                    The likelihood that someone will perceive your message as threatening is {{(perspectiveValues['threat'] * 100)|int}}%. </p>
            </label>  
            <label class="inner" style = "display: inline-block;">                  
                <canvas id="identity_attack" style="width: 70%; display: inline-block; position: relative;"></canvas>
                <p> A negative or hateful comment targeting someone because of their identity. 
                    The likelihood that someone will perceive your message as an attack on their identity is {{(perspectiveValues['identity_attack'] * 100)|int}}%.  </p>
            </label>          
        </div>


        
        <button type="button" class="collapsible" id ='c1'>
            <div class="plus"><span class="add" id = "col1">
            <i class="fas fa-plus"></i></span></div> Emotion
        </button>
        <!-- <button type="button" class="collapsible">Emotion</button> -->
        <div class="content">
            <canvas id="emotion" style = "width: 520px; height: 455px;"></canvas>
        </div>

        <button type="button" class="collapsible" id =c2>
            <div class="plus"><span class="add" id = "col2">
            <i class="fas fa-plus"></i></span></div> Sentiment
        </button>
        <!-- <button type="button" class="collapsible">Sentiment</button> -->
        <div class="content">
            <h1 id="sentiment-title">Key words: </h1>
            {% for i in sentimentValues['assessments'] %}
            <button type="button" class="rectangle">{{i}}</button>
            {% endfor %}
            <br><br><br>
            <canvas id="sentiment"style="width: 800px; height:  500px;"></canvas>

        </div>
        {% endif %}


    </div> <!-- End page content-->


    <!-- Footer -->
    <!-- https://startbootstrap.com/snippets/sticky-footer-flexbox -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Charu, Cristie, Eva, Kristy. 2021 PearlHacks.</small>
        </div>
    </footer>

    <!-- Script for collapsible -->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        
        for (let i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                content.style.maxHeight = null;
                } else {
                content.style.maxHeight = content.scrollHeight + "px";
                } 
            });
        }
    </script>


    <!-- Scripts from outside -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> 

    <!-- Perspectives charts -->
    <script>
        let toxicity = (100 * "{{perspectiveValues['toxicity'] | safe }}").toFixed(2);
        let insult = (100 *"{{perspectiveValues['insult'] | safe }}").toFixed(2);
        let threat = (100 *"{{perspectiveValues['threat'] | safe }}").toFixed(2);
        let identity_attack = (100 * "{{perspectiveValues['identity_attack'] | safe }}").toFixed(2);

        let tChart = document.getElementById('toxicity').getContext('2d');
        let iChart = document.getElementById('insult').getContext('2d');
        let thChart = document.getElementById('threat').getContext('2d');
        let idChart = document.getElementById('identity_attack').getContext('2d');


        Chart.defaults.global.defaultFontFamily = 'lato';
        Chart.defaults.global.tooltips.bodyFontFamily = "'josefin-regular'"
        let toxicChart = new Chart(tChart, {
            type: 'doughnut', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels:['Toxic', 'Not toxic'],
                datasets:[ {
                    label: 'Percentage',
                    data: [
                        toxicity, (100- toxicity).toFixed(2)
                    ],
                    backgroundColor: [
                        "#355070",
                        '#C6D0DC'
                    ]
                }]
            },
            options:{
                aspectRatio: 1,
                responsive: false,
                title: {
                    fontFamily: "josefin-bold",
                    display: true,
                    text: 'Toxic',
                    fontSize: 40,
                    position: "bottom"
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    },
                    display: "inline-block"
                },
                tooltips: { // hover thing
                    enabled: true,
                    bodyFontSize: 18
                }
            }
        });
        let insultChart = new Chart(iChart, {
            type: 'doughnut', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels:['Insult', 'Not an insult'],
                datasets:[ {
                    label: 'Percentage',
                    data: [
                        insult, (100- insult).toFixed(2)
                    ],
                    backgroundColor: [
                        '#584770',
                        '#DCD5E6'
                    ]
                }]
            },
            options:{
                aspectRatio: 1,
                responsive: false,
                title: {
                    fontFamily: "josefin-bold",
                    display: true,
                    text: 'Insult',
                    fontSize: 40,
                    position: "bottom"
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    },
                    display: "inline-block"
                },
                tooltips: { // hover thing
                    enabled: true,
                    bodyFontSize: 18
                }
            }
        });
        let threatChart = new Chart(thChart, {
            type: 'doughnut', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels:['Threat', 'Not a threat'],
                datasets:[ {
                    label: 'Percentage',
                    data: [
                        threat, (100- threat).toFixed(2)
                    ],
                    backgroundColor: [
                        '#B56576',
                        '#E7D8DB'
                    ]
                }]
            },
            options:{
                aspectRatio: 1,
                responsive: false,
                title: {
                    fontFamily: "josefin-bold",
                    display: true,
                    text: 'Threat',
                    fontSize: 40,
                    position: "bottom"
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    },
                    display: "inline-block"
                },
                tooltips: { // hover thing
                    enabled: true,
                    bodyFontSize: 18
                }
            }
        });
        let identityChart = new Chart(idChart, {
            type: 'doughnut', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels:['Identity Attack', 'Not a idenity attack'],
                datasets:[ {
                    label: 'Percentage',
                    data: [
                        identity_attack, (100- identity_attack).toFixed(2)
                    ],
                    backgroundColor: [
                        '#EAAC8B',
                        '#EBE8E6'
                    ]
                }]
            },
            options:{
                aspectRatio: 1,
                responsive: false,
                title: {
                    fontFamily: "josefin-bold",
                    display: true,
                    text: 'Identity Attack',
                    fontSize: 40,
                    position: "bottom"
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    },
                    display: "inline-block"
                },
                tooltips: { // hover thing
                    enabled: true,
                    bodyFontSize: 18
                }
            }
        });
    </script>

    <!-- Sentiment charts -->
    <script>
            const polarity =  "{{sentimentValues['polarity'] | safe }}";
            const subjectivity = "{{sentimentValues['subjectivity'] | safe }}";

            var MeSeContext = document.getElementById("sentiment").getContext("2d");
            var MeSeData = {
                labels: [
                    "Negative",
                    "Objective"
                ],
                datasets: [{
                    // categoryPercentage: 1,
                    // barThickness: 30,
                    barPercentage: 0.5,
                    data: [polarity, subjectivity],
                    backgroundColor: ["#B56576", "#97B565"],
                    hoverBackgroundColor: ["#BE3855", "#93BE38"]
                }]
            };

            var MeSeChart = new Chart(MeSeContext, {
                type: 'horizontalBar',
                data: MeSeData,
                options: {
                    responsive: false,
                    legend: {
                        display: false,
                        position: 'right',
                        labels: {
                            fontColor: 'black'
                        }
                    },
                    scales: {
                        xAxes: [{
                            categorySpacing: 0,
                            stacked: true,
                            ticks: {
                                min: -1,
                                max: 1
                            }
                        }],
                        yAxes: [{
                            stacked: true,
                            categorySpacing: 0
                        }, {
                        type: 'category',
                        labels: [
                            "Subjective", "Positive",
                        ],
                        position: 'right',
                        offset: true,
                        ticks: {
                            reverse: true,
                        },
                        gridLines: {
                            display: false
                        }
                        }]
                    }

                }
            });
    </script>

    <!-- Emotion Radar Chart -->
    <script>
        // Data Variables (from Flask)
        var happyValue = (10 * "{{emotionsValues['Happy'] | safe }}").toFixed(2)
        var angryValue = (10 * "{{emotionsValues['Angry'] | safe }}").toFixed(2)
        var surpriseValue = (10 * "{{emotionsValues['Surprise'] | safe }}").toFixed(2)
        var sadValue = (10 * "{{emotionsValues['Sad'] | safe }}").toFixed(2)
        var fearValue = (10 * "{{emotionsValues['Fear'] | safe }}").toFixed(2)
        var myData = [happyValue, angryValue, surpriseValue, sadValue, fearValue]
    </script>
    <script src="../static/main.js"></script>



</body>
</html>  