<html>
<head>
    <meta charset="utf-8">
    <title>Emotion Analysis</title>
    <meta name="author" content="Charu, Cristie, Eva, Kristy">
    <meta name="description" content="A emotion analysis app for inputted sentences.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import scripts and stylesheets: keep in <static> -->
    <script src="../static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="../static/main.css">

    <!-- Import outside scripts and stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="d-flex flex-column">
    <div class="test-main" id="page-content">
        <h1 id="page-title">Does the intention of your message align with its impact?</h1>
        <div class="test">
            <p>Type your message into the text box below to see how others might interpret your message based on its toxicity, emotional tone, and other attributes.</p>
            <form method="post" action="/nlp" my-form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Type in a sentence to be analyzed...</label>
                    <textarea name="text" class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <p>NLP Analysis will appear after you input some text</p>

        {% if not initScreen %}
        <button type="button" class="collapsible">Perspective</button>
        <div class="content">
            <p>{{perspectiveValues}}</p>
            <canvas id="toxicity" style = "width: 520px;"></canvas>
        </div>
        
        <button type="button" class="collapsible">Emotion</button>
        <div class="content">
            <p>{{emotionsValues}}</p>
            <canvas id="emotion" style = "width: 520px;"></canvas>
        </div>

        <button type="button" class="collapsible">Sentiment</button>
        <div class="content">
            <p>{{sentimentValues}}</p>
        </div>
        {% endif %}


    </div> <!-- End page content-->


    <!-- Footer -->
    <!-- https://startbootstrap.com/snippets/sticky-footer-flexbox -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Charu, Cristie, Eva, Kristy. 2021 PearlHacks.</small>
        </div>
    </footer>

    <!-- Script for collapsible -->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        
        for (let i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>


    <!-- Scripts from outside -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> 

    <script>
        const toxicity = 100 * "{{perspectiveValues['toxicity'] | safe }}";
        const insult = 100 *"{{perspectiveValues['insult'] | safe }}";
        const profanity = 100 *"{{perspectiveValues['profanity'] | safe }}";
        const threat = 100 *"{{perspectiveValues['threat'] | safe }}";
        const identity_attack = 100 * "{{perspectiveValues['identity_attack'] | safe }}";

        let myChart = document.getElementById('toxicity').getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';
        let toxicChart = new Chart(myChart, {
            type: 'doughnut', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels:['Toxic', 'Not toxic'],
                datasets:[ {
                    label: 'Percentage',
                    data: [
                        toxicity, 100- toxicity
                    ],
                    backgroundColor: [
                        'green',
                        'red'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: 'black'
                }]
            },
            options:{
                title: {
                    display: true,
                    text: 'Toxicity',
                    fontSize: 25
                },
                legend: {
                    display: false,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: { // hover thing
                    enabled: true
                }
            }
        });
    </script>

    <!-- Emotion Radar Trial Script -->
    <!-- https://www.chartjs.org/docs/latest/charts/radar.html -->
    <script>
        let ctx = document.getElementById('emotion').getContext('2d');

        // Data Variables (from Flask)
        let  happyValue = 10 * "{{emotionsValues['Happy'] | safe }}"
        let angryValue = 10 * "{{emotionsValues['Angry'] | safe }}"
        let surpriseValue = 10 * "{{emotionsValues['Surprise'] | safe }}"
        let sadValue = 10 * "{{emotionsValues['Sad'] | safe }}"
        let fearValue = 10 * "{{emotionsValues['Fear'] | safe }}"
        let myData = [happyValue, angryValue, surpriseValue, sadValue, fearValue]
        console.log(myData)
        console.log(typeof(myData[0]))

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        
        // Aesthetic Variables
        const myLabels = ['Happy', 'Angry', 'Surprise', 'Sad', 'Fear']
        const myColors = ['pink', 'yellow', 'blue', 'green', 'purple']

        let emotionChart = new Chart(ctx, {
            type: 'radar', // bar, horizontalBar, pie, line, donut, radar, polarArea
            data: {
                labels: myLabels,
                datasets: [{
                    label: 'Scale: 1-10',
                    data: myData,
                    backgroundColor: myColors,
                    borderWidth: 3,
                    borderColor: 'black',
                    hoverBorderWidth: 3,
                    hoverBorderColor: 'black'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Emotion',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: 'black'
                    }
                },
                scale: {
                    angleLines: {
                        display: false
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 10
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: { // hover thing
                    enabled: true
                }
            }
        });
    </script>










</body>
</html>  