<html>
<head>
    <meta charset="utf-8">
    <title>Emotion Analysis</title>
    <meta name="author" content="Charu, Cristie, Eva, Kristy">
    <meta name="description" content="A emotion analysis app for inputted sentences.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import scripts and stylesheets: keep in <static> -->
    <script src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/main.css">

    <!-- Import outside scripts and stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="d-flex flex-column">
    <div class="test-main" id="page-content">
        <h1 id="page-title">Lorem ipsum.</h1>
        <div class="test">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <form method="post" action="/nlp" my-form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Type in a sentence to be analyzed...</label>
                    <textarea name="text" class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
        <p>NLP Analyses Results go here.</p>
        <pre data-preview></pre>
    </div> <!-- End page content-->


    <!-- Footer -->
    <!-- https://startbootstrap.com/snippets/sticky-footer-flexbox -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Charu, Cristie, Eva, Kristy. 2021 PearlHacks.</small>
        </div>
    </footer>

    <!-- Scripts -->
    <script>
        var data;

        // Listen on the form and wait for submission.
        // On submission, make a POST request with fetch to analyze the data in Flask.
        window.addEventListener('DOMContentLoaded', init);

        function init() {
            const form = document.querySelector('[my-form]');
            const textInput = document.querySelector('[name=text]');
            const preview = document.querySelector('[data-preview]');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const text = textInput.value;
                const results = await fetchData(text);
                preview.textContent = JSON.stringify(results, null, 4);
                data = results;
                console.log(data);
            });
        }

        // This makes the post request.
        async function fetchData(text) {
            const payload = new FormData();
            payload.append('text', text);

            const res = await fetch('/nlp', {
                method: 'post',
                body: payload
            });
            const data = await res.json();
            return data;
        }
    </script>


    <!-- Scripts from outside -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> 
</body>
</html>  